@model Motax.ViewModels.CartModel

<div class="cart-btn">
    <a asp-controller="CartAccessoriesItem" asp-action="Index" class="nav-right-link"><i class="far fa-cart-plus"></i><span>@Model.Quantity</span></a>
</div>