@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from cymolthemes.com/html/autovis/gallery.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jul 2024 08:41:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Autovis - Car Dealers HTML Template, Autovis - Car Dealers WordPress Theme, wordpress theme, premium wordpress theme, responsive wordpress theme, themeforest, envato,  themes & templates, wordpress theme, unlimited colors available, ui/ux, ui/ux design, best wordpress theme, wordpress theme, JavaScript, best css theme,css3, elementor theme, latest premium themes 2024, latest premium templates 2024, Preyan Technosys Pvt.Ltd, cymol themes, themetech mount, Web 3.0, multi-theme, website theme and template, bootstrap template, web templates, responsive theme, services, web design and development, blog website, HTML template, Html5, auto, business, car dealer, car dealership, car listing, cars, listing, motors, automotive, car repair, cardealer, cars, directory, elementor, car inventory, vehicle,  auto, auto dealer, auto shop, bike, buy car, car store, accessories shop, car ecommerce, car seller, car listing, auto dealer, auto parts, automobile, car rental, car repair, car shop, car wash, garage, marketplace, motor cycle, trucks">
    <meta name="description" content="Autovis - Car Dealers HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toxmax Fpt-Atech-Group02.T5.2303.E0</title>

    <link rel="icon" type="image/x-icon" href="~/Frontend/assets/img/logo/favicon.png">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/aos.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/megamenu.css">
    <link rel="stylesheet" type="text/css" href="~/Showroom/css/responsive.css">

</head>
<body>

    <!-- page start -->
    <div class="page">
        
        <div class="prt-page-title-row style2">
            <div class="prt-page-title-row-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 col-md-12 m-auto">
                            <div class="prt-page-title-row-heading">
                                <div class="breadcrumb-wrapper">
                                    <span>
                                        <a title="Homepage" asp-action="Index" asp-controller="Home">Home</a>
                                    </span>
                                    <span>Gallery</span>
                                </div>
                                <div class="page-title-heading">
                                    <h2 class="title">Showcase your dream ride: Gallery collection</h2>
                                </div>
                                <div class="page-title-desc">
                                    <p>Dream rides unveiled and explore our gallery collection</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-video-wrap">
                    <video src="~/Showroom/images/video-bg.mp4" loop muted autoplay>
                    </video>
                </div>
            </div>
        </div>
        <!-- page-title end-->

        <!-- site-main start -->
        <div class="site-main">

            <!-- gallery-section -->
            <section class="prt-row gallery-section clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="section-title title-style-center_text">
                                <div class="title-header pb-0">
                                    <h2 class="title"><a asp-action="Index" asp-controller="Home" style="color:navy;font-size:30px">---Back home---</a></h2>
                                </div>
                            </div>

                            <div class="section-title title-style-center_text">
                                <div class="title-header pb-0">
                                    <h2 class="title">Car studio gallery</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-duration="1500">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-01.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-01.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-02.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-02.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-03.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-03.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-04.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-04.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-05.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-05.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-06.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-06.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-09.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-09.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-11.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-10.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-10.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-10.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-12.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-12.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-13.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-13.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-14.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-14.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-01.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-01.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-02.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-02.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-03.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-03.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-06.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-06.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-09.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-09.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-11.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-10.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-10.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-10.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-12.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-12.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-03.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-03.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-04.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-04.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-05.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-05.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-06.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-06.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-09.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-09.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-11.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-10.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-10.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-10.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-12.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-12.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-13.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-13.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-14.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-14.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-01.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-01.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-02.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-02.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-03.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-03.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-04.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-04.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-05.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-05.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured-imagebox featured-imagebox-gallery">
                                <div class="featured-thumbnail">
                                    <img width="414" height="388" class="img-fluid" src="~/Showroom/images/gallery/gallery-img-06.webp" alt="image">
                                </div>
                                <div class="featured-icon">
                                    <a href="~/Showroom/images/gallery/gallery-img-06.webp" rel="noopener" aria-label="image" target="_self" class="prt_prettyphoto">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- gallery-section -->
           

        </div><!-- site-main end-->

        <!-- back-to-top start -->
        <a id="totop" href="#top">
            <i class="icon-angle-up"></i>
        </a>
        <!-- back-to-top end -->

    </div><!-- page end -->
    <!-- Javascript -->
    <script src="~/Showroom/js/jquery-3.7.1.min.js"></script>
    <script src="~/Showroom/js/jquery-migrate-3.4.1.min.js"></script>
    <script src="~/Showroom/js/bootstrap.bundle.min.js"></script>
    <script src="~/Showroom/js/nouislider.min.js"></script>
    <script src="~/Showroom/js/swiper-bundle.min.js"></script>
    <script src="~/Showroom/js/Scrolltrigger.js"></script>
    <script src="~/Showroom/js/Splittext.js"></script>
    <script src="~/Showroom/js/cursor.js"></script>
    <script src="~/Showroom/js/gsap.min.js"></script>
    <script src="~/Showroom/js/jquery-validate.js"></script>
    <script src="~/Showroom/js/jquery.prettyPhoto.js"></script>
    <script src="~/Showroom/js/slick.min.js"></script>
    <script src="~/Showroom/js/jquery-waypoints.js"></script>
    <script src="~/Showroom/js/numinate.min.js"></script>
    <script src="~/Showroom/js/smoothscroll.js"></script>
    <script src="~/Showroom/js/imagesloaded.min.js"></script>
    <script src="~/Showroom/js/jquery-isotope.js"></script>
    <script src="~/Showroom/js/circle-progress.min.js"></script>
    <script src="~/Showroom/js/main.js"></script>
    <script src="~/Showroom/js/aos.js"></script>
    <script>
        AOS.init({
            offset: 0,
            duration: 400,
            delay: 0,
            once: true,
        });
    </script>

</body>

<!-- Mirrored from cymolthemes.com/html/autovis/gallery.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jul 2024 08:41:40 GMT -->
</html>