@model IEnumerable<Motax.ViewModels.CarVM>
@{
    ViewData["Title"] = "Index car frontend";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_ListCar";
}
@section BreadCum{
<div class="site-breadcrumb" style="background: url(/Frontend/assets/img/breadcrumb/01.jpg)">
    <div class="container">
        <h2 class="breadcrumb-title">Listing Grid</h2>
        <ul class="breadcrumb-menu">
            <li><a href="index-2.html">Home</a></li>
            <li class="active">Listing Grid</li>
        </ul>
    </div>
</div>
}

<h4> Have <b> @Model.Count() </b>vehicle</h4>

@await Html.PartialAsync("CarItem", Model)