@model Motax.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid custom-page">
    <div class="row bg-white">
        <!-- The image half -->
        <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent-3">
            <div class="row w-100 mx-auto text-center">
                <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto w-100">
                    <img src="~/Backend/assets/images/media/pngs/51.png"
                         class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                </div>
            </div>
        </div>
        <!-- The content half -->
        <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
            <div class="login d-flex align-items-center py-2">
                <!-- Demo content-->
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                            <div class="card-sigin">
                                <div class="mb-5 d-flex">
                                    <a href="index.html" class="header-logo">
                                        <img src="~/Backend/assets/images/brand-logos/desktop-white1.png"
                                             class="desktop-logo ht-40" alt="logo">
                                        <img src="~/Backend/assets/images/brand-logos/desktop-white1.png"
                                             class="desktop-white ht-40" alt="logo">
                                    </a>
                                </div>
                                <div class="card-sigin">
                                    <div class="main-signup-header">
                                        <h3>Get Started</h3>
                                        <h6 class="fw-medium mb-4 fs-17">It's free to signup and only takes a minute.</h6>
                                        <form asp-action="Register" method="post" enctype="multipart/form-data">
                                            @Html.AntiForgeryToken()
                                            <div asp-validation-summary="ModelOnly"></div>

                                            <div class="row">
                                                <div class="form-group col-md-6 mb-3">
                                                    <label class="form-label">Username account login</label>
                                                    <input asp-for="Username" class="form-control" type="text">
                                                    <span class="text-danger" asp-validation-for="Username"></span>
                                                </div>

                                                <div class="form-group col-md-6 mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control" asp-for="Email" type="email">
                                                    <span class="text-danger" asp-validation-for="Email"></span>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="form-group col-md-6 mb-3">
                                                    <label class="form-label">Password</label>
                                                    <input id="pwd" class="form-control" asp-for="Password" type="password">
                                                    <input type="checkbox" id="chk" /> ShowPass
                                                    <span class="text-danger" asp-validation-for="Password"></span>
                                                </div>

                                                <div class="form-group col-md-6 mb-3">
                                                    <label class="form-label">Confirm Password</label>
                                                    <input id="pwd2" class="form-control" asp-for="ConfirmPassword" type="password">
                                                    <input type="checkbox" id="chk2" /> ShowPass Confirm
                                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-4 mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input class="form-control" asp-for="Phone" type="number">
                                                    <span class="text-danger" asp-validation-for="Phone"></span>
                                                </div>

                                                <div class="form-group col-md-4 mb-3">
                                                    <label class="form-label">D.O.B</label>
                                                    <input class="form-control" asp-for="Dob" type="date">
                                                    <span class="text-danger" asp-validation-for="Dob"></span>
                                                </div>

                                                <div class="form-group col-md-4 mb-3">
                                                    <label class="form-label">Gender</label>
                                                    <select asp-for="Gender" class="form-control">
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="Gender"></span>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 mb-3">
                                                    <label class="form-label">Address</label>
                                                    <input class="form-control" asp-for="Address" type="text">
                                                    <span class="text-danger" asp-validation-for="Address"></span>
                                                </div>

                                                <div class="form-group col-md-6 mb-3">
                                                    <label class="form-label">Avatar</label>
                                                    <input class="form-control" asp-for="Image" type="file">
                                                    <span class="text-danger" asp-validation-for="Image"></span>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-success btn-block w-100">Create Account</button>

                                            
                                        </form>
                                        <div class="row mt-3">
                                            <div class="col-sm-6">
                                                <a asp-action="SignInFacebook" asp-controller="Auth" class="btn btn-primary btn-facebook">
                                                    <i class="fab fa-facebook-f me-2"></i> Signup with Facebook
                                                </a>
                                            </div>
                                            <div class="col-sm-6 mt-2 mt-sm-0">
                                                <a asp-action="SignInGoogle" asp-controller="Auth" style="color:white" class="btn btn-danger btn-block w-100">
                                                    <i class="fab fa-twitter me-2"></i> Signup with Google
                                                </a>
                                            </div>
                                        </div>
                                        <div class="main-signin-footer mt-5">
                                            <p>Already have an account? <a asp-action="Login" asp-controller="Secure">Sign In</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>

<script>
    const pwd = document.getElementById("pwd");
    const pwd2 = document.getElementById("pwd2");
    const chk = document.getElementById("chk");
    const chk2 = document.getElementById("chk2");

    chk.onchange = function (e) {
        pwd.type = chk.checked ? "text" : "password";
    };
    chk2.onchange = function (e) {
        pwd2.type = chk2.checked ? "text" : "password";
    };
</script>
