@model IEnumerable<Motax.ViewModels.MenuCategoryVM>

<div class="car-widget">
    <h4 class="car-widget-title">Category</h4>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="" style="display: flex;
justify-content: space-between;align-items: center;">
                    <a asp-action="Index" asp-controller="Accessories" asp-route-dealer="@item.Id" class=""> @item.Name</a>
                    <span>(@item.Quantity)</span>
                </div>
            </li>
        }
    </ul>
</div>